<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}"> 
    <title>About ACCS</title>
</head>
<body>
    <div class="content">
        <h1>How to use the ACCS-scale</h1>

        <div class="content"> 
            <h3>ACCS feedback form</h3>
            <p>This tool can be used to develop, maintain, and improve your skillset as a cognitive behavioural therapist. It is applicable for self-assessment, supervision, or peer review. The form is most accurate when completed after observing a CBT session, either through video or audio recording. <br> <br>

                By utilizing this tool, you can enhance your abilities to provide effective cognitive behavioural therapy. Whether you are evaluating your own practice, study, offering guidance as a supervisor, or collaborating with colleagues, this form will help you identify strengths and areas for improvement. <br> <br>
                
                Make sure to review the observations carefully and reflect on how the therapy session was conducted. The insights gained from this process can lead to meaningful discussions and professional growth, ultimately benefiting the clients you serve. </p>
            <h3>Using the ACCS Manual</h3> 
            <p>It is recommended that assessors spend some time reading and familiarising themselves with the ACCS manual before conducting an assessment. Initially, the manual should be consulted on an item by item basis alongside completing the feedback form. Once the assessor becomes familiar with the scale, the manual can then be used as a frame of reference which can be consulted whenever questions or uncertainties arise. It is also recommended that assessors periodically re-review the manual to prevent assessor-drift.</p>
            <a href="http://www.accs-scale.co.uk" class="btn btn-dark" role="button" target="_blank">Download manual</a>
          </div>
      
          <div class="content">
            <h3>Numeric Rating</h3>
            <p>For each item assign a rating between 1 and 4. If the therapist is assessed as falling between two descriptors, the assessor can select a ½ mark (i.e. 1.5, 2.5, or 3.5). The overarching definitions of the scale are as follows:</p>
            
            <h4>Generic Definition of Performance Band</h4>
            
            <h4>Limited: 1pt</h4>
            <ul>
            <li>Therapist fails to include feature outlined.</li>
            <li>Or therapist demonstrates a significant absence of skill or an inappropriate performance which is likely to have negative therapeutic consequences.</li>
            </ul>
            
            <h4>Basic: 2pt</h4>
            <ul>
            <li>Therapist’s performance is somewhat appropriate with some degree of skill evident.</li>
            <li>However, major substantive problems are evident.</li>
            </ul>
            
            <h4>Good: 3pt</h4>
            <ul>
            <li>Therapist demonstrates a good degree of skill with no major problems.</li>
            <li>However, minor problems or inconsistencies are evident in the therapist’s performance.</li>
            </ul>
            
            <h4>Advanced: 4pt</h4>
            <ul>
            <li>Therapist consistently demonstrates a high level of skill with only very few and very minor problems.</li>
            </ul>
            
            <p>Please refer to the manual for guidance as to the type of performance which is consistent with each point on the rating scale for each individual item.</p>
            
            <br>

            <h3>Qualitative feedback</h3>
            <p> For each domain, draw on the exemplar therapist behaviours provided and the session material being assessed to provide examples of what made some aspects of the therapist’s performance particularly successful what made some aspects of the therapist’s performance less successful. Suggest alternative, more skilful way of working within any weaker domains and highlight ways in which the therapist could further develop their skills in this area.</p>

            <h3>Assessment Materials</h3>
            <p>As well as a recording of a mid-treatment CBT session, please also use the ACCS submission cover sheet which provides additional contextual information which will help you make an informed rating of the therapist’s performance. The ACCS submission cover sheet is found on the link above together with the manual. </p>
           
      
          
      
        </div>

        <button class="btn btn-dark" onclick="history.back()">Back to scale</button>

    </div>
</body>
</html>